<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      
      <h3>過去の投稿</h3>
      
      <div class="swiper">
        <div class="swiper-wrapper">
          <% if @user.posts.any? %> 
            <% @user.posts.each do |post| %> 
              <div class="swiper-slide">
                <div class="col">
                  <div class="card">
                    <%= image_tag post.get_post_image(200,200), class: "card-img-top" %>
                    <div class="card-body">
                      <h5 class="card-title"><%= link_to post.user.name, post_path(post.id) %></h5>
                      <p class="card-text"><%= post.content %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="text-center mt-3">投稿がありません</p>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
      </div>
      
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper(".swiper", {
    slidesPerView: 1,
    breakpoints: {
      768: {
        slidesPerView: 3
      }
    },
    pagination: {
      el: ".swiper-pagination"
    },
  
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>