
<div class="container mt-5">
  <% post.comments.each do |comment| %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%#= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, size: "50x50", class: "img-fluid rounded" %><br>
          <%= comment.user.name %>
        <%# end %>
      </div>
      <div class="col-md-6">
        <%= comment.comment %>
      </div>
      <div class="col-md-3">
        <% if comment.user == current_user %>
          <%= link_to "Destroy", comments_path(post, comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>