<table>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, relationships_followings_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, relationships_followers_path(user) %></th>
  </tr>
</table>