<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

      <h3>フォロー</h3>
      
      <% @user.followings.each do |followings| %>
      <div class="follower-container">
        <%= image_tag @user.get_profile_image(50, 50), class: "follower-image" %>
        <div class="follower-info">
          <%= link_to followings.name, user_path(followings), class: "follower-name" %></p>
          <p class="follower-gender"><%= followings.gender %></p> 
          <p class="follower-introduction"><%= followings.introduction %></p> 
        </div>
        <p class="follower-follow-status">
          <% if followings.followers.include?(@user) %> 
            <span class="followed">フォローされています</span>
          <% else %>
            フォローされていません
          <% end %>
        </p>
      </div>
      <% end %>
      
    </div>
  </div>
</div>