
<div class="genre-list ml-2">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      ジャンル
    </a>
    <% @genres.each do |genre| %>
      <%= link_to genre_search_path(genre_id: genre.id), class: "list-group-item list-group-item-action" do %>
        <%= genre.name %>
      <% end %>
    <% end %>
  </div>
</div>